* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background: #f4fcfd;
}

/******* question section *********** */
.questions {
    width: 50%;
    height: 100vh;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

/******* title section *********** */
.questions .title {
    color: goldenrod;
    text-align: center;
}

/******* center section *********** */
.section-center {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/************* main section ************ */
.question {
    padding: .9rem;
    border-radius: 6px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .09), -1px -1px 2px 2px rgba(0, 0, 0, .09);
    background: #fff;
}
.question .question-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .9rem;
}
.question .question-title p {
    font-weight: 600;
    font-size: 1rem;
}
.question .question-title .question-btn {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: none;
    outline: none;
    background-color: #fff;
}
.question .question-title .question-btn  span {
    border: 2px solid goldenrod;
    padding: 1px;
    color: goldenrod;
    cursor: pointer;
}
hr {
    margin: 5px auto;
    color: #333;
    opacity: .3;
}
.question .question-text {
    color: #333;
    text-align: justify;
    font-size: .9rem;
    transition: .9s linear;
}
.question-btn:hover {
    transform: rotate(270deg);
    transition: .2s linear;
}

/********** 1st text , minus btn and line are hidden************ */
.question-text, .minus-icon, hr {
    display: none;
    transition: .3s linear;
}

/********** text , minus btn and line visible on show class************ */
.show-text .question-text {
    display: block;
    transition: .9s linear;
}
.show-text .minus-icon {
    display: inline;
}
.show-text .plus-icon {
    display: none;
}
.show-text hr {
    display: block;
}

/* *********** media quaires**************  */
@media (max-width: 700px) {
    .questions {
        width: 80%;
    }
    
}